<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @enfermero.ci %>
</p>

<p>
  <strong>Nro registro:</strong>
  <%= @enfermero.nro_registro %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @enfermero.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @enfermero.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @enfermero.direccion %>
</p>

<p>
  <strong>Ciudade:</strong>
  <%= @enfermero.ciudade %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @enfermero.cargo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @enfermero.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @enfermero.celular %>
</p>

<p>
  <strong>Contacto familiar:</strong>
  <%= @enfermero.contacto_familiar %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @enfermero.correo %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @enfermero.foto %>
</p>

<%= link_to 'Edit', edit_enfermero_path(@enfermero) %> |
<%= link_to 'Back', enfermeros_path %>
