<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @proveedore.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedore.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @proveedore.apellido %>
</p>

<p>
  <strong>Ciudade:</strong>
  <%= @proveedore.ciudade %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedore.direccion %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @proveedore.empresa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedore.telefono %>
</p>

<p>
  <strong>Cellular:</strong>
  <%= @proveedore.cellular %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedore.correo %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @proveedore.foto %>
</p>

<%= link_to 'Edit', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Back', proveedores_path %>
