<p id="notice"><%= notice %></p>

<p>
  <strong>Horaini:</strong>
  <%= @horario.horaIni %>
</p>

<p>
  <strong>Horafin:</strong>
  <%= @horario.horaFin %>
</p>

<p>
 <h2> Dias de Atencion</h2>
<% @horario.has_horarios.each do  |detalledia|%>
<p>
<%=  detalledia.dia.nombre%>
<%end%>
</p>

<p>
  <strong>Medico:</strong>
  <%= @horario.medico %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
