<p id="notice"><%= notice %></p>

<p>
  <strong>Horaini:</strong>
  <%= @detalle_dia.horaini %>
</p>

<p>
  <strong>Horafin:</strong>
  <%= @detalle_dia.horafin %>
</p>

<%= link_to 'Edit', edit_detalle_dia_path(@detalle_dia) %> |
<%= link_to 'Back', detalle_dias_path %>
