<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @empresa.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @empresa.ruc %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @empresa.siglas %>
</p>

<p>
  <strong>Ciudade:</strong>
  <%= @empresa.ciudade %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresa.direccion %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @empresa.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @empresa.telefono2 %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @empresa.correo %>
</p>

<p>
  <strong>Pagina:</strong>
  <%= @empresa.pagina %>
</p>

<p>
  <strong>Image:</strong>
  <%= @empresa.image %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
