<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @medico.ci %>
</p>

<p>
  <strong>Nro registo:</strong>
  <%= @medico.nro_registo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @medico.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @medico.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @medico.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @medico.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @medico.celular %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @medico.fecha %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @medico.correo %>
</p>

<p>
  <strong>Contacto familiar:</strong>
  <%= @medico.contacto_familiar %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @medico.especialidade %>
</p>

<p>
  <strong>Ciudade:</strong>
  <%= @medico.ciudade %>
</p>

<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
